:root {
  --main-color: #0f67fe;
  --white-color: #ffffff;
  --secwhite-color: #fcfcfc;
  --dark-color: #1e232c;
  --light-color: #a1b9e5;
  --black-color: #040919;
  --gray-color: #57657f;
  --red-colo: #bb2e2e;
  --green-color: #2fba45;
  --login-color: #bcc3ce;
  --input-color: #cccccc;
}

.navbar {
  background-color: var(--main-color);
  .icon {
    font-size: 30px;
    color: var(--secwhite-color);
  }
  .first-text {
    color: var(--secwhite-color);
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 800;
    size: 30px;
  }
  .navbar-toggler {
    color: white;
    font-size: 15px;
    border-color: white;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-collapse {
    margin-right: 18%;
    .navbar-nav {
      .nav-link {
        color: var(--secwhite-color);
        &.active,
        &:focus,
        &:hover {
          color: var(--secwhite-color);
        }
        &:not(.active) {
          color: var(--light-color);
        }
      }
    }
  }
  .nav-icon {
    i{
      cursor: pointer;
      color: var(--secwhite-color);
    }
  }
}
